.background-container {
	position: fixed;
	top: 0;
	z-index: -1;
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 5px;
}

.background-container > .background-icon {
	width: 100%;
	filter: invert(80%) sepia(1%) saturate(0%) hue-rotate(38deg)
		brightness(104%) contrast(97%) drop-shadow(0px 0px 10px transparent);
}
